.blog {
  max-width: 33.333rem;
  margin: 0 auto 3.5rem;
  padding-left: 0;

  li {
    &::before {
      display: none;
    }

    a {
      display: block;
      padding: 2rem;
      box-shadow: 0 0 .2rem var(--black-20);
      border-radius: 0.333rem;
      transition: box-shadow .2s ease;
      &:hover {
        box-shadow: 0 0 1rem var(--black-20);
      }
    }

    h2 {
      margin-top: 0;
    }
  }
}

.articleListItem {
  &:first-child {
    h2 {
      margin-top: 0;
    }
  }

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  span {
    font-size: .7rem;
    font-weight: 700;
    color: var(--black-40);
  }
  
  a p {
    margin-top: .5rem;
    font-weight: 400;
    font-size: 0.85rem;
    color: var(--black-50);
  }
}