@import "styles/settings/colors";

.homeBody {
  img {
    width: 8.333rem;
    height: 8.333rem;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    box-shadow: 0px 0px 1rem var(--black-20);
  }
}