@import "../settings/colors";
@import "../settings/variables";

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 3.5rem;
  a:not(:last-child) {
    margin-right: 1rem;
  }
}

.activeLink {
  color: $primary-color;
}