@import "../settings/colors";
@import "../settings/variables";

.navigation {
  margin-bottom: 3.5rem;
  ul {
    max-width: none;
  }
  li::before {
    display: none;
  }
}

.activeLink {
  color: $primary-color;
}