code {
  background-color: var(--black-10);
  font-size: .9rem;
  border-radius: 0.222rem;
  color: var(--black);

  b &, & b {
    padding: 0 0.333rem;
    vertical-align: middle;
    font-weight: 400;
  }

  p > & {
    display: block;
    padding: 1rem;
  }
} 