ul,ol {

  li {
    position: relative;
    display: block;
    line-height: 1.7;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &:not([class*="no-list-style"]) {
    padding-left: 1.5rem;
  }
}

ul {
  &:not([class*="no-list-style"]) {
    li::before {
      content: "\2022";
      position: absolute;
      left: -1.5rem;
      top: 0;
      color: var(--plum);
      font-weight: bold;
    }
  }
}

ol {
  counter-reset: orderedCounter;
  &:not([class*="no-list-style"]) {
    li::before {
      content: counter(orderedCounter) ".";
      counter-increment: orderedCounter;
      position: absolute;
      left: -1.5rem;
      top: 0;
      color: var(--plum);
      font-weight: bold;
    }
  
  }
}