li {
  position: relative;
  display: block;
  line-height: 1.7;
  &::before {
    content: "\2022";
    position: absolute;
    left: -1.5em;
    top: 0;
    color: $primary-color;
    font-weight: bold;
  }
  
}

ul, ol {
  margin: 0 auto 1.3em;
  padding-left: 1.5em;
  max-width: 600px;
}

ol {
  counter-reset: orderedCounter;
  li::before {
    content: counter(orderedCounter) ".";
    counter-increment: orderedCounter;
    position: absolute;
    left: -1.5em;
    top: 0;
    color: $primary-color;
    font-weight: bold;
  }
}