$white: #fff;
$black: #242424;
$purple: #c97ccc;
$purple-darker: #ab6eab;

$black-20: rgba(36, 36, 36, 0.2);
$black-30: rgba(36, 36, 36, 0.3);
$black-40: rgba(36, 36, 36, 0.4);
$black-50: rgba(36, 36, 36, 0.5);
$black-70: rgba(36, 36, 36, 0.7); 

