.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  >*:not(:last-child) {
    margin-right: 1rem;
  }
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  >*:not(:last-child) {
    margin-right: 1rem;
  }
}