.footerStyles {
  width: 100%;
  padding: 2rem 1rem;
  background-color: var(--gray-light);

  p {
    text-align: center;
    margin-bottom: .5rem;
  }

  a {
    color: var(--black-70);
    font-family: var(--primary-font-family);

    &:hover {
      color: var(--plum);
    }
  }
}