* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 20px;
  --primary-color: #aa6eaa;
  --secondary-color: #f7d0d7;
  --white-04: rgba(255,255,255, .4);
  --caption-color: rgba(0,0,0,0.4);
  --bg-color: #fff;
  --text-color: #000;
  --primary-font: 'Nunito Sans';
  --secondary-font: 'Zilla Slab';
}

body {
  color: var(--text-color);
  font-family: var(--secondary-font);
  background-color: var(--secondary-color);
  background-image: 
    url(./pattern.svg),
    linear-gradient(var(--white-04) 1px, transparent 0),
    linear-gradient(90deg, var(--white-04) 1px, transparent 0);
  background-size: 10rem, 1rem 1rem, 1rem;
}

main {
  width: calc(100% - 4rem);
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--bg-color);
  border: .25rem solid var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--primary-font);
  font-weight: bold;
}

h1 {
  font-size: 3em;
  margin-bottom: 1.2rem;
}

p {
  max-width: 700px;
  margin: 0 auto 1rem;
  line-height: 1.5;
}

a:not(.no-decoration) {
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  transition: color .2s ease;
  border-bottom: 2px solid var(--text-color);
}

a:not(.no-decoration):hover,
a:not(.no-decoration):focus,
a:not(.no-decoration):active,
a:not(.no-decoration).active {
  color: var(--primary-color);
  outline: none;
  border-bottom: 2px dashed var(--primary-color);
}

footer {
  text-align: right;
  font-size: .8rem;
  color: var(--caption-color);
}

@media screen and (max-width: 500px) {
  :root {
    font-size: 14px;
  }
}